/* Reset and basic setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}


/* Navbar */
header {
  background-color:#E6D7B5;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
}

.logo img {
  height: 60px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #F7931E;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #333;
  border-radius: 2px;
}


main {
  padding: 2rem;
  text-align: center;
}

.hero-image img {
  width: 30%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.visit-info h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.info-section {
  margin: 2rem 0;
}

.info-section h3 {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 0.5rem;
}

.info-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.map {
  max-width:30%;
  height: auto;
  margin-top: 1rem;
  border-radius: 8px;
}

/* Footer */
footer {
  background: #E6D7B5;
  color: #000;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
}
footer p {
  color:rgb(0, 0, 0);
}

.social {
  margin-top: 10px;
}

.social a img {
  width: 25px;
  margin: 0 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
   .visit-info h2 {
    font-size: 1.6rem;
  }

  .info-section h3 {
    font-size: 1.1rem;
  }

  .info-section p {
    font-size: 0.95rem;
  }
.hamburger {
    display: flex;
  }

  .nav-links {
    display: none; 
    width: 100%;
    background-color: #E6D7B5;
    position: absolute;
    top: 80px; 
    left: 0;
    bottom: 65%;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 999;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links.show {
    display: flex; 
  }
  }

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}